body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u1 {
  position:absolute;
  left:2px;
  top:526px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1970px;
  top:436px;
  width:892px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1970px;
  top:533px;
  width:881px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1130px;
  top:445px;
  width:830px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:813px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:830px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1130px;
  top:542px;
  width:820px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:803px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:820px;
  height:1px;
}
#u8 {
  position:absolute;
  left:920px;
  top:600px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:994px;
  top:600px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
