body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1607px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1607px;
}
#u1 {
  position:absolute;
  left:2px;
  top:796px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1232px;
  top:15px;
  width:110px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1550px;
  top:500px;
  width:200px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u5 {
  position:absolute;
  left:990px;
  top:150px;
  width:950px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u6 {
  position:absolute;
  left:1961px;
  top:140px;
  width:619px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:690px;
  top:1205px;
  width:1250px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1250px;
  height:1px;
}
#u9 {
  position:absolute;
  left:1961px;
  top:1141px;
  width:1312px;
  height:138px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:138px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:685px;
  top:1209px;
  width:10px;
  height:53px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:53px;
}
#u12 {
  position:absolute;
  left:760px;
  top:933px;
  width:1190px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1961px;
  top:897px;
  width:1238px;
  height:82px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:82px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:755px;
  top:897px;
  width:10px;
  height:43px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:26px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:43px;
}
#u16 {
  position:absolute;
  left:1519px;
  top:370px;
  width:420px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:403px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:420px;
  height:1px;
}
#u17 {
  position:absolute;
  left:1961px;
  top:360px;
  width:916px;
  height:55px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:55px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1160px;
  top:815px;
  width:788px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:771px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:788px;
  height:1px;
}
#u20 {
  position:absolute;
  left:1961px;
  top:800px;
  width:1065px;
  height:54px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:54px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1155px;
  top:820px;
  width:10px;
  height:65px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u23 {
  position:absolute;
  left:720px;
  top:1450px;
  width:1220px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u24 {
  position:absolute;
  left:715px;
  top:1387px;
  width:10px;
  height:70px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u25 {
  position:absolute;
  left:1961px;
  top:1427px;
  width:1806px;
  height:56px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1806px;
  height:56px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1806px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1223px;
  top:1023px;
  width:725px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:708px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:725px;
  height:1px;
}
#u28 {
  position:absolute;
  left:1961px;
  top:1019px;
  width:1412px;
  height:61px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:61px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1486px;
  top:500px;
  width:462px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:445px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:462px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1481px;
  top:505px;
  width:10px;
  height:30px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u32 {
  position:absolute;
  left:1961px;
  top:490px;
  width:1165px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1500px;
  top:630px;
  width:440px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1961px;
  top:620px;
  width:595px;
  height:27px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:27px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1217px;
  top:995px;
  width:10px;
  height:35px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u38 {
  position:absolute;
  left:641px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:761px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:884px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:1000px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:1121px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:1239px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:1371px;
  top:11px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:526px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:1521px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:380px;
  top:190px;
  width:150px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:380px;
  top:235px;
  width:150px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:380px;
  top:282px;
  width:150px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:1276px;
  top:530px;
  width:254px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:1276px;
  top:605px;
  width:254px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:593px;
  top:1332px;
  width:254px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
