<%- include head %>
<script>
    function httpSend( url ) {
        $("#main").load( url );
    }
</script>
<div style="width:1024px;margin:1em auto;">
    <div style="border:1px solid green;width:210px;float:left">
        你好，<%-loginbean.nicheng%>
        <table class="table">
            <tbody class="answer">
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td>管理员账号</td>
            </tr>
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td>用户管理</td>
            </tr>
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td><a href="#" onclick="httpSend('/admin/teacherapplylist')">讲师申请列表</a> </td>
            </tr>
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td>课程审核管理</td>
            </tr>
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td>讲师管理</td>
            </tr>
            <tr>
                <td>
                    <div><br/></div>
                </td>
                <td>课程管理</td>
            </tr>

            <tr>
                <td>
                    <div><br/></div>
                </td>
                <%if( loginbean.role == 1 ){%>
                    <td><a href="#" onclick= 'httpSend("/home/apply") ' >申请为讲师</a></td>
                <%}else if(loginbean.role == 0){%>
                    <td><a href="#" onclick= 'httpSend("/home/apply") ' >我是管理员</a></td>
                <%}else if(loginbean.role == 2){%>
                    <td><a href="#" onclick= 'httpSend("/home/apply") ' >讲师申请处理中</a></td>
                <%}%>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="main" style="border:1px solid green;width:720px;float:right">
        <table class="table">
            <caption>排行榜</caption>
            <tbody>
            <tr>
                <td>1</td>
                <td>Bangalore</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mumbai</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bangalore</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--登录注册模态框-->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:840px;">


        </div>
    </div>
</div>
</body>
</html>