*{margin: 0;padding: 0;}
html,body{width: 100%;overflow-y: scroll;}
body::-webkit-scrollbar {display:none}
i{font-style: normal;}
.banner{width: 100%;height: 900px;background: url(../img/bj1_03.png);background-size: contain;}
.top{display: flex;flex-flow: row nowrap;justify-content: space-between;}
.pp{width: 54%;height: 330px;margin: 0 auto;margin-top: 50px;}
.pp img{width: 100%;height: 100%;}
ul li{list-style: none;}
a{text-decoration: none;}
/*女神榜*/
.header{width: 100%;}
.header img:nth-of-type(1){width: 23%;height: 10vh;position: absolute;top: 0;left: 0;}
.header img:nth-of-type(2){width: 23%;height: 10vh;position: absolute;top: 0;right: 0;}
.main{width:100vw;}
.mainleft,.mainright{width:100vw;}
.mainleft{background: url(../img/bj1_03.png);background-size: contain;}
.nvs{width: 50%;height: 204px;margin-bottom: 6vw;margin-left:23.5%;padding-top:5vw;}
.nvs img{width: 100%;height: 100%;}
.leftCenter{width: 63%;height: 165px;}
.toux{width: 63%;margin:0 auto;height: 37px;margin-left:45%;}
.toux .guan{width: 9vw;height: 10vw;position: absolute;top: -18px;left: -1.5vw;}
.toux .guan02{width: 9vw;height: 10vw;position: absolute;top: -4vw;left:15.9vw;}
.toux .guan03{width: 9vw;height: 10vw;position: absolute;top: -1vw;right: -1.5vw;}
.gg{width: 40px;height: 41px;position: absolute;right: -15px;top: -12px;}
.yuan{width: 9vw;height: 9vw;position: absolute;left: 0;top: 6px;z-index: 100;}
.yuan img{width:98%;height: 98%;border-radius:5vw;border: 3px solid red;}

.tu{width: 81%;height: 180px;margin-left:37%;margin-top: 25px;}
.tu img{width: 100%;height: 100%;}

.paiming_san{width:51vw;height: 100px;margin-left:37%;display: flex;flex-flow: row nowrap;justify-content: space-around;color: #FFF; margin-top: -45px;font-size: 4vw;}
.paiming_san dl{width:16vw;}
.paiming_san dl:nth-of-type(1),.paiming_san dl:nth-of-type(2){float: left;}
.paiming_san dl:nth-of-type(2){margin-left: 1vw;}
.paiming_san dl:nth-of-type(3){float: right;}
.paiming_san dl dt{text-align: center;padding-bottom:15px;margin-top: -21px;}
.paiming_san dl dd{text-align: center;}

.mainright{background: url(../img/bj2_03.png);background-size: contain; ;}

/*.main:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}*/


.guan,.guan02,.guan03{transform-origin: center center;animation: gogo 2s linear 0s infinite alternate;}
@keyframes  gogo{
				0%{
					transform:translate(0px,10px);
				}
				100%{
					transform:translate(0px,-1px);
				}
			}
@font-face {
			 font-family: 'pangmenRegular';
			 src: url('pangmen.ttf');
			 src: local('pangmen Regular'),
	         local('pangmne'),
	         url('pangmen.ttf') format('truetype'),     
		}

.heng{width: 72%;height: 30px;background: url(../img/bjpaihang.png) no-repeat;background-size:cover;margin:20vw auto 0;}
.list{width: 72%;margin: 0 auto;padding-bottom: 3vw;}
.list li{font-size: 4vw;width: 100%;height: 8.5vw;line-height:8.5vw;color: #FFFFFF;background: #6f32e9;position: relative;margin-bottom: 1.5vw;}	
.list li:nth-of-type(1){margin-top: -10px;}

.list li span:nth-of-type(1){margin-left: 12%;width: 30px;}	
.list li span:nth-of-type(2){width:5.5vw;height:5.5vw;border: 1px solid #FFFFFF;border-radius:2.8vw;background: #ff9010;position: absolute;top:1.5vw;left: 21%;overflow: hidden;vertical-align:middle;text-align: center;line-height: 20px;}
.list li span:nth-of-type(2) img{width: 100%;height:100%;}
.list li span:nth-of-type(3){margin-left: 19%;width: 39%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}	
/*.list li span:nth-of-type(4) a{display: inline-block;width:11.2vw;text-align:right;}*/
.list li span:last-of-type{float: right;padding-right: 25px;}
.list li:last-of-type span:nth-of-type(3) {margin-left: 16%;}
/*右侧*/
.sss{width: 30%;height: 150px;margin: 0 auto;padding-bottom: 3vw;}
.sss img{width: 100%;height: 100%;margin-top:2vw;}
.oPaiHang{width: 94%;height:40vh;margin-left: 3%;margin-top: 3vw;overflow-y: scroll;}
.oPaiHang::-webkit-scrollbar {display:none}
.oPaiHang li{width: 100%;height:9vw;line-height: 9vw;position: relative;}
.oPaiHang li span{display: inline-block;font-size: 14px;height: 38px;line-height: 38px;position: absolute;font-size: 4vw;}
.oPaiHang li span:nth-of-type(1){width:5.5vw;height:5.5vw;border: 1px solid #FFFFFF;border-radius:2.8vw;left: 3%;top:1.75vw;background: #ff9010;overflow: hidden;vertical-align:middle;text-align: center;line-height: 20px;}
.oPaiHang li span:nth-of-type(2){width: 20vw;left: 12%;top: 2.5vw;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.oPaiHang li span:nth-of-type(3){left: 40%;top: 2.5vw;font-size: 3.5vw;}
.oPaiHang li span:nth-of-type(4){width: 5.5vw;height: 5.5vw;border: 1px solid #FFFFFF;border-radius:2.8vw;left: 55%;top:1.75vw;background: #ff9010;overflow: hidden;vertical-align:middle;text-align: center;line-height: 20px;}
.oPaiHang li span:nth-of-type(5){width: 20vw;left: 64%;top: 2.75vw;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.oPaiHang li span:nth-of-type(6){text-align: right;right: 0;top: 2.75vw;font-size: 4vw;}
.oPaiHang li span:nth-of-type(6) a{display: inline-block;width:11vw;}
.oPaiHang:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.medi img{width: 100%;height: 100%;}

/*土豪榜*/
.miss{width: 34%;height: 65px;margin: 20px auto 0;}
.miss img{width: 100%;height: 100%;}
.con{width: 74%;margin: 0 auto;min-height:600px;background: deepskyblue;}

.ziti{font-family:pangmenRegular;}









