body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u1 {
  position:absolute;
  left:2px;
  top:526px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1150px;
  top:450px;
  width:800px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1150px;
  top:540px;
  width:790px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:773px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:790px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1950px;
  top:442px;
  width:892px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:27px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1950px;
  top:531px;
  width:881px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1450px;
  top:100px;
  width:520px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:503px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:520px;
  height:1px;
}
#u9 {
  position:absolute;
  left:1446px;
  top:60px;
  width:10px;
  height:45px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u10 {
  position:absolute;
  left:1993px;
  top:72px;
  width:570px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1993px;
  top:120px;
  width:867px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:27px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:920px;
  top:600px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:994px;
  top:600px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
