body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1068px;
}
#u1 {
  position:absolute;
  left:2px;
  top:526px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1219px;
  top:265px;
  width:740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1960px;
  top:256px;
  width:347px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1480px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1411px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:951px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:1059px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:1166px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:842px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
