body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1250px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1250px;
}
#u1 {
  position:absolute;
  left:2px;
  top:617px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:793px;
  top:200px;
  width:1170px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1170px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1973px;
  top:191px;
  width:570px;
  height:27px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:27px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:780px;
  top:300px;
  width:1183px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:1166px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1183px;
  height:1px;
}
#u6 {
  position:absolute;
  left:775px;
  top:305px;
  width:10px;
  height:20px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u7 {
  position:absolute;
  left:1370px;
  top:390px;
  width:593px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:576px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:593px;
  height:1px;
}
#u8 {
  position:absolute;
  left:1973px;
  top:293px;
  width:618px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1973px;
  top:381px;
  width:570px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1090px;
  top:490px;
  width:873px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1085px;
  top:366px;
  width:10px;
  height:130px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:113px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:130px;
}
#u14 {
  position:absolute;
  left:1973px;
  top:483px;
  width:262px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:430px;
  top:678px;
  width:220px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u17 {
  position:absolute;
  left:437px;
  top:806px;
  width:423px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:406px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  height:1px;
}
#u18 {
  position:absolute;
  left:106px;
  top:784px;
  width:307px;
  height:55px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1443px;
  top:595px;
  width:520px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:503px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:520px;
  height:1px;
}
#u21 {
  position:absolute;
  left:1973px;
  top:588px;
  width:349px;
  height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1496px;
  top:810px;
  width:467px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:450px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:467px;
  height:1px;
}
#u24 {
  position:absolute;
  left:1973px;
  top:801px;
  width:1414px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1530px;
  top:1000px;
  width:433px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:416px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:433px;
  height:1px;
}
#u27 {
  position:absolute;
  left:1973px;
  top:993px;
  width:602px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1140px;
  top:935px;
  width:829px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:812px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:829px;
  height:1px;
}
#u30 {
  position:absolute;
  left:1978px;
  top:926px;
  width:772px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:140px;
  top:662px;
  width:273px;
  height:54px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:54px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1486px;
  top:508px;
  width:16px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:1486px;
  top:551px;
  width:16px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:1486px;
  top:594px;
  width:16px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:1486px;
  top:636px;
  width:16px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:1486px;
  top:679px;
  width:16px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:1486px;
  top:763px;
  width:16px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:1486px;
  top:849px;
  width:16px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:651px;
  top:915px;
  width:479px;
  height:45px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:45px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:641px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:761px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:884px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:1000px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:1121px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:1239px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:1371px;
  top:11px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:526px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:1521px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:390px;
  top:192px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:390px;
  top:235px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:390px;
  top:278px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:390px;
  top:322px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:390px;
  top:365px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:390px;
  top:408px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:390px;
  top:451px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:1362px;
  top:960px;
  width:168px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:820px;
  top:496px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:820px;
  top:539px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:820px;
  top:580px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:820px;
  top:624px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:820px;
  top:664px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:820px;
  top:753px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:820px;
  top:797px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:820px;
  top:837px;
  width:310px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
