body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1030px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1030px;
}
#u1 {
  position:absolute;
  left:2px;
  top:507px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:910px;
  top:190px;
  width:1040px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1023px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1040px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1960px;
  top:183px;
  width:322px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:905px;
  top:166px;
  width:10px;
  height:30px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u6 {
  position:absolute;
  left:684px;
  top:339px;
  width:1270px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1270px;
  height:1px;
}
#u7 {
  position:absolute;
  left:679px;
  top:344px;
  width:10px;
  height:30px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u8 {
  position:absolute;
  left:300px;
  top:470px;
  width:250px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u9 {
  position:absolute;
  left:383px;
  top:644px;
  width:247px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:230px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u10 {
  position:absolute;
  left:121px;
  top:462px;
  width:174px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:100px;
  top:622px;
  width:273px;
  height:55px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:55px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1960px;
  top:331px;
  width:471px;
  height:27px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:744px;
  top:529px;
  width:60px;
  height:145px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:right;
  line-height:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:145px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-30px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:641px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:761px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:884px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:1000px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:1121px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:1239px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:1371px;
  top:11px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:526px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:1521px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:510px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:660px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:810px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:812px;
  top:497px;
  width:580px;
  height:188px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:188px;
}
#u31 {
  position:absolute;
  left:2px;
  top:86px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1402px;
  top:550px;
  width:548px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:531px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:548px;
  height:1px;
}
#u33 {
  position:absolute;
  left:1960px;
  top:542px;
  width:471px;
  height:27px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:27px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1402px;
  top:696px;
  width:548px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:531px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:548px;
  height:1px;
}
#u36 {
  position:absolute;
  left:1960px;
  top:674px;
  width:446px;
  height:55px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:55px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
