/*预约参观*/
input[type="text"], input[type="password"], input[type="tel"] {width:100%;font-size: 28px;font-size: 0.37333333333333335rem;border-radius: 3px;height: 90px;height: 1.2rem;line-height: 90px;line-height: 1.2rem;padding: 0 20px;padding: 0 0.26666666666666666rem;margin-bottom:15px;margin-bottom:0.2rem;-webkit-box-sizing: border-box;box-sizing: border-box;}
.order{background: #f0f0f0;}
.orderWrap{padding-left:20px;padding-left:0.26666666666666666rem;padding-right:20px;padding-right:0.26666666666666666rem; background: #fff; margin-top: 40px;margin-top: 0.5333333333333333rem; }
.common{font-size:28px;font-size:0.37333333333333335rem; color: #111111;border-bottom:1px solid #e6e6e6;height: 90px;height: 1.2rem;line-height: 90px;line-height: 1.2rem;}
.common:last-child{border-bottom: none;}
.common a{display: block;}
.common select{direction: rtl;}
.titleText{padding-left: 45px;padding-left: 0.6rem; float: left; }
.titleTextBg{background: url(../img/x.png) no-repeat 0px center; }
.orderText{width:40%!important;font-size: 28px;font-size: 0.37333333333333335rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; float: right; text-align: right; padding-right: 45px;padding-right: 0.6rem; color: #ccc; height: 90px; height: 1.2rem; line-height: 90px; line-height: 1.2rem;}
.textArrow{background: url(../img/arrow.png) no-repeat 100% center;}
.orderColor{color: #FEA120; display: block;}
.telphone,.code{width: 100%;margin-bottom:15px;margin-bottom:0.2rem;}
.djs{background:#bbb!important;}
.submit{height: 210px;height: 2.8rem; line-height: 210px; line-height: 2.8rem;display: inline-block; width: 100%;}
.submit a{width: 90%; height: 90px; height: 1.2rem; line-height: 90px; line-height: 1.2rem; font-size: 34px; font-size: 0.4533333333333333rem; margin: 60px auto; margin: 0.8rem auto; display: block; background: #fea120; text-align: center; color: #fff; border-radius: 3px;}
#telTips{display:none;font-size: 12px; line-height: 20px; height: 20px; color: #d72f2b;width: 100%;}

/*mengceng*/
.mengceng{display:none;width: 100vw;height: 100vh;/*background-color: rgba(0,0,0,0.5);opacity: 0.5*/;position: fixed;top: 0;left: 0;z-index: 400;background: url(../img/bb.png);}

.tianjia{display:none;width:70vw;background: #F4F4F4;position: fixed;left: 50%;top: 30%;margin-left:-35vw;z-index: 450;border-radius:5px;padding-bottom: 20px;}
.tianjia p:first-of-type{width: 100%;text-align: center;color: #FEA120;padding: 23px 0 18px;font-size: 0.3466666666666667rem;}
.tianjia p:nth-of-type(2){width: 100%;text-align: center;padding-bottom: 15px; font-size: 0.26666666666666666rem;}
.tianjia p:nth-of-type(3){width: 45%;margin: 0 auto;text-align: center;color: #FFFFFF;background: #FEA120;border-radius: 3px;height: 26px;line-height: 26px; font-size: 0.26666666666666666rem;}
.tianjia p a{display: block;width: 100%;height: 100%;color: #FFFFFF;}
