.page{width: 100%; height: 100%; color: #333;}
.container{width: 92%; margin:0 4%;}
.container h2{font-size: 2em;}
.logo{ position: absolute; top:0;color: #fff; text-align: center;}
/*.logo_img{padding-top: 1em;}*/
.logo_img{padding-top: 3.5em;}
.logo_img img{width: 3.125em; float: left;}
.logo_img p{float: right; font-size: 0.75em;}
.logo_img p span{padding:0.9375em;}
.banner{top: 45px;position: relative;}
/*.logo_img p a:hover{color: #FEA120;}
.logo_img p a:active{color: #fff;}*/
.content{/*position: absolute; width: 94%;left: 50%; margin-left: -47%;*/}
.content h1{font-size:1.5em;padding-top: 3.3333em; line-height: 1.8461em; font-weight: bold;}
.content h5{font-size: 0.75em;line-height: 1.0714em;}

.about{overflow: hidden;}
.about h3{font-size: 0.9375em;color: #111111;padding-left:1.25em;margin-bottom: 2.2059em; line-height: 1.1765em;}
.auout_c{font-size: 0.75em; line-height: 1.16667em;background: url(../img01/dian.png) no-repeat 0 5px; padding-left: 1.5em; margin-bottom: 2.25em;}
.about .about_img_c{font-size: 0.75em; line-height: 1.16667em;margin-bottom: 2.25em;}
.about-img{width: 100%;}
.about-img .super_img{width: 100%;}
.about-img .super_img:nth-child(2){margin-right: 0;}
.about-img .super_img p{ font-size: 0.625em; color: #FEA120; text-align: center; line-height: 4.3333em; margin-bottom: 0.1111em;}
.about-img .super_img p img{width: 1.111em; padding-right: 0.94445em;padding-bottom: 0.5vw;}

.address{position: relative;background:url(../img01/mid-bg.jpg) no-repeat center;background-size: cover; color: #fff; text-align: center;}
.add{width: 84%;margin: auto;}
.add img{padding-top: 1.25em; padding-bottom: 1.5625em;}
.add h2{font-size:1.5em;padding-top: 2.08em; line-height: 1.8461em; font-weight: bold;}
.add h5{font-size: 0.75em;line-height: 1.0714em;}
.super{ background: #f7f7f7;padding-top: 1.4375em; overflow: hidden;}
.span2{width: 100%;max-width: 380px;margin-bottom: 1.25em;}
/*.span2.mid{margin-left: 4%; margin-right: 4%;}*/
.thumbnail {display: inline-block;display: block;height: auto;max-width: 100%;background-color: #fff;border: 1px solid #ddd;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out}
.thumbnail>img {display: block;height: auto;max-width: 100%;margin-right: auto;margin-left: auto}
a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active {border-color: #428bca}
.thumbnail .caption h6 {font-size:0.625em; color: #888;line-height: 5em; text-align:center;}
/*.thumbnail:hover {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);}*/

.provide h2{font-size: 1.5em; line-height: 1.2308em;padding-top: 1.5385em;  text-align: center; font-weight: 900;}
.min_title{height: auto; overflow: hidden;}
.min_title h4{font-size: 0.9375em; padding-bottom: 1.07em;padding-top: 1.6em;}
.min_title .aboutImg{margin:0.9375em auto 1.5em; width: 50%; max-width: 600px;}
.min_title .about_img_c{font-size: 0.75em;line-height: 1.16667em;margin-bottom: 2.25em;}
.app_c{width: 60%;margin:1.5625em auto 1.3125em; overflow: hidden;}
.app_logo{width: 3.125em; float: left;}
.app_text{margin-left: 3.75em;}
.app_text h5{color: #111111; font-size: 0.75em; line-height: 1.7647em; font-weight: bold;}
.app_text p{font-size: 0.75em; line-height: 1.3em;}
.footer{background: #f7f7f7; padding-top: 1em;color: #888888;position: relative;}
.service{border-bottom: 1px solid #e4e4e4; overflow: hidden;}
.service .s_01{width: 100%; margin-bottom: 1em;}
.service .s_02{width: 100%; float: left;display: inline-block;font-size:0.75em;margin-bottom: 0.875em}
.service .s_01 img{width: 2.125em;}
.service .s_02 img{width: 2.5em;}

/*.footer a{ margin-bottom: 1.25em;}*/
.footer a img{width: 9.0em;}
.footer a.tel{ display: block; text-align: center;width: 100vw;padding: 2vw 0;color: #FFFFFF;background: #FEA120;position: absolute;left: 0;bottom: 0;}
.footer a.tel:hover{color: #888888;}
/*.bodadianhua{width: 100vw;height: 14vw;line-height: 14vw;color: #FFFFFF;background: #FEA120;text-align: center;}*/

#toTop {background: rgba(0, 0, 0, 0) url("../img01/move-up.png") no-repeat scroll 0 0;border: medium none;bottom: 9.6%;display: none;height: 34px;overflow: hidden; position: fixed;right: 3%;text-decoration: none;text-indent: 100%;width: 34px;}
#toTopHover {display: block;float: right;height: 34px;opacity: 0;overflow: hidden; width: 34px;}

/**/
.product{height: 30vw;position: relative;}
.container .product img{width: 34vw;height: 15vw;position: absolute;left: 50%;margin-left: -17vw;top: 3vw;}


/***********************小州加载的头部*******************/
.tou001{width: 100%;height:45px;background:#FFFFFF;position: fixed;left: 0;top: 0;z-index: 800;}
#toubu {width: 100%;height: 100%;line-height: 45px;text-align: center;}
#obig{width:1.5rem;height: 1.05rem;float: left;margin-top: 3.241vw;margin-left: 0.8rem;}


/*---- responsive-design -----*/
@media(max-width:1440px){

}
@media(max-width:1366px){

}
@media(max-width:1280px){

}
@media(max-width:1024px){

}
@media(max-width:800px){

}
@media(max-width:768px){

}
@media(max-width:736px){

}
@media(max-width:667px){

}
@media(max-width:640px){

}
@media(max-width:568px){

}
@media(max-width:480px){

}
@media(max-width:414px){
.content h5{
	width: 80%;
	margin: auto;
}
}
@media(max-width:384px){

}
@media(max-width:375px){
	
}
@media(max-width:320px){

}

