
.lol{background:#FFFFFF;border: 1px solid #FEA102;font-size: 3vw;margin-left: 9vw;padding: 2px 4px;border-radius:5px ;}
.lol span{color: #333333;}
.tt{width: 2vw;height: 3vw;}

.con{padding-top: 8vw;}
.con img{width:100%;}


