body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:968px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:968px;
}
#u1 {
  position:absolute;
  left:2px;
  top:476px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1380px;
  top:220px;
  width:570px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1330px;
  top:740px;
  width:620px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1950px;
  top:211px;
  width:545px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1950px;
  top:731px;
  width:941px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1504px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:1435px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:951px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:1059px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:1166px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:1080px;
  top:667px;
  width:420px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:842px;
  top:11px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
