body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1030px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1030px;
}
#u1 {
  position:absolute;
  left:2px;
  top:507px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:979px;
  top:190px;
  width:1040px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1023px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1040px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2019px;
  top:181px;
  width:322px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:971px;
  top:166px;
  width:10px;
  height:30px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u6 {
  position:absolute;
  left:337px;
  top:448px;
  width:173px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:156px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:173px;
  height:1px;
}
#u7 {
  position:absolute;
  left:297px;
  top:580px;
  width:273px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:256px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u8 {
  position:absolute;
  left:209px;
  top:436px;
  width:100px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:47px;
  top:387px;
  width:219px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:762px;
  top:491px;
  width:60px;
  height:181px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:right;
  line-height:34px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:181px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-12px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:554px;
  width:273px;
  height:55px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:55px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:641px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:761px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:884px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:1000px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:1121px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:1239px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:1371px;
  top:11px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:526px;
  top:11px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:1521px;
  top:11px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:510px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:660px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:810px;
  top:257px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:825px;
  top:478px;
  width:580px;
  height:188px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:188px;
}
#u29 {
  position:absolute;
  left:2px;
  top:86px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1413px;
  top:532px;
  width:546px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:529px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:546px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1959px;
  top:523px;
  width:471px;
  height:27px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1402px;
  top:688px;
  width:548px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:531px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:548px;
  height:1px;
}
#u34 {
  position:absolute;
  left:1960px;
  top:666px;
  width:446px;
  height:55px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:55px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
